#element-2555 div.timer-labels div.timer-label {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
}
#element-2555 div.timer-box {
    background-color: #efefef;
}
#element-2555 div.timer-box {
    background-color: # efefef;
}
#element-2555 div.colon div {
    background-color: # efefef;
}
#element-2555 div.colon div {
    background-color: # efefef;
}

.timer-labels .timer-label {
    font-weight: bold!important;
    margin-bottom: 10px;
    font-size: 17px;
}